html,
	body {
	  height: 100%;
	  width: 100%;
	  margin: 0;
	  justify-content: center;
	}
	 
	section {
		display: block;
		padding-left: 0.5rem;
		padding-right: 0.5rem;
		height: auto;
	}
	 
	section.bg-image.banner {
		display: block;
		padding-left: 0.5rem;
		padding-right: 0.5rem;
		height: auto;
	}
	 
	.section.a {
		display: inline-block;
		width: 100%;
	  	height: 40px;
	  	padding: 12px
	}
	 
	p {
		margin: 0.25rem !important;
	}
	 
	a {
		text-decoration: none;
	}
	 
	img {
	    display: block;
	    margin-left: auto;
	    margin-right: auto;
	    max-height: 100%;
	    max-width: 100%;
	    height: auto;
	    width: auto;
	    object-fit: auto;
	}
	 
	img.profile-pic {
		height: 20%;
		width: 20%;
		object-fit: contain;
		border-radius: 0%;
	}
	 
	.container {
		margin: 0 auto;
		position: relative;
		height: 100%
	}
	 
	.row {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: nowrap;
		flex-direction: row;
		position: relative;
		height: 100%;
		width: 100%;
	}
	 
	.row.a {
		display: inline-block;
		width: 100%;
	  	height: 40px;
	  	padding: 12px
		row-gap: 20px;	
	}
	 
	.col {
		display: block;
		flex-basis: 0;
		flex-grow: 1;
		flex-shrink: 1;
		margin: 0;
		padding: 0.25rem;
		max-width: 100%;
		max-height: 100%;
		overflow: auto;
	}
	 
	.col.a {
		display: inline-block;
		flex-basis: 0;
		flex-grow: 1;
		flex-shrink: 1;
		margin: 0;
		padding: 0.25rem;
		max-width: 100%;
		max-height: 40px;
		overflow: hidden;
	}
	 
	.col.is-1 {
		flex: none;
		width: 10%;
	}
	 
	.col.is-2 {
		flex: none;
		width: 20%;
	}
	 
	.col.is-3 {
		flex: none;
		width: 30%;
	}
	 
	.col.is-4 {
		flex: none;
		width: 40%;
	}
	 
	.col.is-5 {
		flex: none;
		width: 100%;
	}
	 
	.col.is-6 {
		flex: none;
		width: 60%;
	}
	 
	.col.is-7 {
		flex: none;
		width: 70%;
	}
	 
	.col.is-8 {
		flex: none;
		width: 80%;
	}
	 
	.col.is-9 {
		flex: none;
		width: 90%;
	}
	 
	.col.is-10 {
		flex: none;
		width: 100%;
	}
	 
	.col.a.is-11 {
		flex: none;
		width: 100%;
	}
	 
	.name-title-company {
		height: 100%;
	}
	 
	.banner {
		height: 30%;
	}
	 
	.primary-info {
		height: 15%;
	}
	 
	.secondary-info {
		height: 10%;
	}
	 
	.bg-image {
		background-image: Zimbali_Panarama - FB.jpg;
	}
	 
	.bg-color-white {
		background-color: white;
	}
	 
	.text-name {
	    font-family: 'Lato', sans-serif;
	    font-weight: 400;
	    color: #333333;
	    font-size: 20px;
	}
	 
	.text-title-company {
	    font-family: 'Lato', sans-serif;
	    font-weight: 200;
	    color: #333333;
	    font-size: 11px;
	}
	 
	.text-detail {
	    font-family: 'Lato', sans-serif;
	    font-weight: 300;
	    color: #575757;
	    font-size: 12px;
	}
	 
	.bottom {
    	    height: 10%;
	}
	 
	.button {
            display: inline-block;
            background-color: #254f41;
            padding: 2px 5px;
            margin-right: 20px;
            text-align: center;
            vertical-align: middle;
            line-height: 30px;
            font-family: 'Lato', sans-sarif;
            color: white;
            font-weight: 300;
        }

.flex-parent {
  display: flex;
}

.jc-center {
  justify-content: center;
}

button.margin-right {
  margin-right: 20px;
}

body {
  text-align: left;
}

.fa {
  display: center;
  padding: 10px;
  font-size: 15px;
  width: 15px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.5;
}

.fa-facebook {
  background: #254f41;
  color: white;
  margin-left: 28%;
}

.fa-twitter {
  background: #254f41;
  color: white;
}

.fa-instagram {
  background: #254f41;
  color: white;
}

.fa-pinterest {
  background: #254f41;
  color: white;
}

.qr-code{
   width: 60px;
   height: 60px;
   margin-left: 40%;
}
   
	@media screen and (max-width: 600px) {
	  img.profile-pic {
	    height: 60%;
	    width: 60%;
	  }
	}
	 
	@media screen and (max-width: 480px) {
	  img.profile-pic {
	    height: 80%;
	    width: 80%;
	  }
	}
